numpy
pandas
torch
pillow
opencv-python
tifffile
matplotlib
scipy
torchvision
ipykernel
notebook
git+https://github.com/facebookresearch/segment-anything.git
git+https://github.com/huggingface/transformers.git
datasets
monai
scikit-learn
ultralytics
segment-geospatial
ultralytics @ git+https://github.com/sunsmarterjie/yolov12@51901136772609c36df65cec1131d54b4f1a44df
fire